:root {
 --background-geral: #ffffff;
 --titulos-em-destaque: #000000;
 --paragrafos: #777777;
 --fonte-principal: 'Roboto', sans-serif;

}

body {
    font-family: var(--fonte-principal);
    background-color: var(--background-geral);
}

.conteudo__topo {
    font-family: var(--fonte-principal);
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    margin: 10px 80px 0 160px;
    padding: 0;
}

.imagem__titulo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.imagem {
    margin-right: 3rem;
    height: 90px;
    width: 90px;
}

.titulo {
    color: var(--titulos-em-destaque);
    font-size: 36px;
    font-weight: 700;
    display: inline;
 
}

.cabecalho {
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
}

.cabecalho__menu {
    background-color: var(--background-geral);
    color: var(--titulos-em-destaque);
    font-size: 24px;
    margin: 0px 32px;
}

.conteudo__principal {
    font-family: var(--fonte-principal);
}

.home {
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.home__descricao {
    padding-top: 60px;

}

.home__paragrafo {
    font-weight: 500;
    font-size: 32px;
}

.home__destaque{
    font-weight: 700;
    font-size: 72px;
}

.botao {
    height: 65px;
    width: 310px;
    background-color: var(--titulos-em-destaque);
    border-radius: 0.7em;
    color: var(--background-geral);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-principal);
    font-size: 24px;
}

.icone{
    margin: 0 0 5rem 0;
}

.icone__github{
    height: 38px;
    width: 40px;
    margin-right: 20px;
    
}

.icone__linkedin {
    height: 40px;
    width: 40px;
}

.imagem__principal {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 697px;
    width: 705px;
}

.sobre {
    height: 100vh;
}

.sobre__logo {
    display: block;
    margin: 30px auto 0 auto;
    width: 200px;
    height: 200px;
    padding: 0 0 0 0;
}

.sobre__nome {
    text-align: center;
    font-size: 64px;
    font-family: var(--fonte-principal);
    font-weight: 700;
    margin: 40px 0 0 0;
}

.sobre__paragrafo {
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 32px;
    font-weight: 500;
    margin: 40px 400px;
    line-height: 1.2;
}

.sobre__skill {
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 64px;
    font-weight: 700;
    margin: 60px;
}

.sobre__imagens {
    display: inline-block;
    margin: 0 450px;

}

.sobre__html {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
}

.sobre__css {
    margin-right: 50px;
    margin-bottom: 40px;
}


.sobre__js {
    margin-right: 50px;
    margin-bottom: 40px;
}

.sobre__react {
    margin-bottom: 40px;
}

.sobre__node {
    margin-right: 50px;
    margin-left: 50px;
}

.sobre__vagrant {
    margin-right: 50px;
}

.sobre__linux {
    margin-right: 50px;
}

.sobre__github {
    margin-right: 50px;
}

.portifolio {
    font-family: var(--fonte-principal);
    height: 100vh;
    margin-left: 200px;
}
.portifolio__titulo {
    font-size: 64px;
    font-weight: 700;
    inline-size: 270px;
    display: inline-block;
    margin-right: 110px;
    margin-top: 90px;

}

.portifolio__paragrafo {
    font-size: 32px;
    font-weight: 500;
    color: var(--paragrafos);
    width: 475px;
    display: inline-block;
    position: absolute;
    margin-top: 130px;
}

.portifolio__botao{
    font-size: 24px;
    font-weight: 700;
    margin: 80px 0;
}

.botao__todos {
    background-color: var(--paragrafos);
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;

}

.botao__restante {
    background-color: #dfdfdf;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
}

.projeto {
    width: 1080px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-left: 240px;
}

.projeto__imagem {
    height: 190px;
    width: 340px;
    border-radius: 10px;
    margin: 25px 15px;
    word-wrap: normal;
}
