@import url(/Meu-Portifolio/css/style/cabecalho.css);
@import url(/Meu-Portifolio/css/style/home.css);
@import url(/Meu-Portifolio/css/style/sobre.css);
@import url(/Meu-Portifolio/css/style/portifolio.css);
@import url(/Meu-Portifolio/css/style/techs.css);
@import url(/Meu-Portifolio/css/style/experiencia.css);

:root {
 --background-geral: #ffffff;
 --titulos-em-destaque: #000000;
 --paragrafos: #777777;
 --botao: #dfdfdf;  
 --fonte-principal: 'Roboto', sans-serif;

}

body {
    font-family: var(--fonte-principal);
    background-color: var(--background-geral);
    font-weight: 500;
    font-size: 32px;
    color: var(--titulos-em-destaque);
}