body{
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #ffffff;
	padding: 40px 0;
}

nav {
	top: 0px;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}

nav a:hover {
	color: #000000;
	text-decoration: underline;
}

main   {
    margin: 10px;
}

.titulos {
    text-align: left;
	font-size: 2em;
	margin: 10px;
	clear: left;
}

section   {
    margin: 10px;
    padding: 10px;
}

p {
    margin: 0 20px;
}

ul {
    margin: 0 20px;
}

footer {
	text-align: center;
	background: url(imagens/bg.jpg);
	padding: 40px 0;
}

.copyright {
	color: #000000;
	font-size: 13px;
	margin: 20px 0 0;
	
}