.experiencia {
    display: flex;
    justify-content: space-around;
}

.experiencia__geral {
    height: 280px;
    width: 530px;
    border: 1px solid #777777;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.experiencia__geral--margem{
    margin-left: 74px;
}

.experiencia__titulo {
    font-weight: 700;
    font-size: 1.125em;
    margin: 25px 96px;
}

.experiencia__paragrafo {
    font-size: 0.75em;
    color: var(--paragrafos);
}

.experiencia--descricao {
    display: flex;
    flex-direction: column;
   
}

.conteiner-experiencia {
    display: flex;
    align-items: center;
}

.experiencia--paragrafo {
    color: var(--paragrafos);
    width: 12em;
    margin-left: 3em;

}

.experiencia--titulo {
    font-size: 2em;
    font-weight: 700;
    width: 6em;
    margin: 1em;
}

.experiencia__imagem   {
    width: 27em;
    margin: auto;
}