.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1em 7em;
    text-align: center;
}

.sobre__logo {
    width: 6.25em;
    height: 6.25em;
    padding: 1em;
}

.sobre__nome, .sobre__skill {
    font-size: 2em;
    font-weight: 700;
    padding: 0.5em;
}

.sobre__paragrafo {
    margin-bottom: 2em;
}

.sobre__imagens {
    margin: 0.5em auto;
}

.sobre__itens {
    padding: 0.5em;
}