.techs {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 2em 3em;

}

.techs__imagem {
    height: 800px;
    width: 800px;
}

.techs__titulo {
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 1em;
}

.tecno__descricao {
    color: var(--paragrafos);
    margin-bottom: 1em;
}

.techs__subtitulo {
    font-weight: 700;
    font-size: 1.25em;
    margin-bottom: 1em;
}

.icons-conteiner {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}
